* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* HTML, BODY BOX CONFI*/

header img {
    height: 70px;
    width: 45px;
}

header {
    height: 15vh;
}


/*header and image size*/

header .navmenu {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*Navation alignment and size*/

.menulist {
    list-style: none;
    display: flex;
}


/*menulists confi*/

.menulist li a {
    text-decoration: none;
    margin-left: 40px;
    color: rgb(14, 12, 12);
    font-weight: bold;
    letter-spacing: 2px;
}


/*menu list style*/

#sing-up {
    margin-left: 80px;
    border-radius: 4px;
    background-color: black;
    width: 100px;
    height: 30px;
    border-style: none;
}

#sing-up a {
    font-weight: bold;
    color: white;
}


/*sing up button positon and style*/

main {
    height: 95vh;
}


/*main size*/

.videomain video {
    max-width: 80%;
    margin-left: 140px;
}


/*video size and position*/

.aboutmain h1 {
    color: gray;
    font-size: 20px;
    font-weight: bold;
}


/* abou text style*/

.aboutmain {
    text-align: center;
}


/*About items algnment*/

.aboutmain button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: rgba(255, 255, 255, 0.918);
    font-weight: bolder;
    letter-spacing: 1px;
    border-style: none;
    margin-top: 20px;
}


/*main button style ,size and position*/

.menulist li a:hover {
    transition: 0.2s;
    color: gray;
}

.menulist li a:hover {
    transition: 0.8s ease-out;
    font-size: 25px;
}

.aboutmain button:hover {
    cursor: pointer;
}

.aboutmain button:active {
    background-color: white;
    color: black;
}


/*header hover confi and style*/